.logo {
  @include verticalCenter;
  width: 200px;
  border-radius: 25px;
  padding: 5px 0;
  background: $color-white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
  cursor: pointer;
  transition: 0.5s;
  transform: translateY(10px);
  position: fixed;
  z-index: 3;
  left: calc(50vw - 100px);

}



