@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/JosefinSans-Medium.ttf);
}

$font-1: "font-1", sans-serif;

$color-black       : #000;
$color-white       : #fff;
$color-green       : #09a766;
$color-blue        : #13E3E0;
$color-green-white : #04fe4d;


@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color-green;
  font-family: $font-1;
  // @include verticalCenter;
}

